body{
    background-color :cadetblue;
    margin: 0;
}

.navigation{
    overflow: hidden;
    background: #333;
    text-align: right;
}

.navigation .openLogin{
    background: #651de2;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    /* border-radius: 100px; */
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    text-align: center;
}

.login-content{
    border-color: black;
    border-style: solid;
    overflow-wrap: break-word;
    padding-top: 5px;
    padding-left: 10px;
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 33%;
    z-index: 99;
}

.close-modal {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 40px;
}

.close-modal:hover {
    color: #fa5252;
}

.hide-login{
    display: none;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.hide-blur {
    display: none;
}

.container .left-side{
    background-color: aliceblue;
    
}

.container .right-side {
    background-color: #1EE1B6;
}

.container{
    display:inline-flex;
    width: 100%;
    height: 100%;
}

#merge {
    display: inline-flex;
}

.left-side, .right-side{
    padding: 50px;
    width: 50%;
    height: 50%;
    
}

.left-side #submit {
    float: right;
}

.currency-wrap {
    position: relative;
}

.currency{
    position:absolute;
    left:8px;
    top:10px;
}

.text-currency{
    padding:10px 20px;
    border:solid 1px #ccc;
    border-radius:5px;
}

.left-side label{
    padding: 10px;
    width: 150px;
}