* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.navigation{
    overflow: hidden;
    background: #333;
    text-align: right;
}

.navigation .openLogin{
    background: #651de2;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    /* border-radius: 100px; */
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    text-align: center;
}

.login-content{
    border-color: black;
    border-style: solid;
    overflow-wrap: break-word;
    padding-top: 5px;
    padding-left: 10px;
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 33%;
    z-index: 99;
}

.close-modal {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 40px;
}

.close-modal:hover {
    color: #fa5252;
}

.hide-login{
    display: none;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.hide-blur {
    display: none;
}

.container .left-side{
    background-color: #f5f7fa;
    
}

.container .right-side {
    background-color: #c3cfe2;
}

.container{
    display:flex;
    position: fixed;
    top: 20%;
    left: 20%;
    box-shadow: 5px 5px 13px #5d6c81;
}

#merge {
    display: inline-flex;
}

.left-side, .right-side{
    padding: 50px;
}

.left-side .submit {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #6d7c97;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    bottom: 15px;
}

.left-side .submit:active{
    background-color: #5d6c81;
}



.currency-wrap {
    position: relative;
}

.currency{
    position:absolute;
    left:8px;
    top:10px;
}

.text-currency{
    padding:10px 20px;
    border:solid 1px #ccc;
    border-radius:5px;
}

.left-side label{
    padding: 10px;
    width: 160px;
}

.dashboard {
    display: inline-flex;
}



.right-side .dashboard div {
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 40px;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid #323a46;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
}

.product {
  font-weight: 500;
  color: #363d55;
}
.amount {
  color: #414a67;
  margin-left: 20%;
}

#list {
    height: 260px;
    overflow: scroll;
    overflow-x: hidden;
    
}


